* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.world {
    margin-bottom: 10px;
}

.orange-clr {
    color: #ffa500;
}

.flexible-container {
    display: flex;
    gap: 30px;
    padding: 40px 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.flexible-container>div {
    flex-basis: 50%;
}

.header {
    background-image: url('My Pic/top-banner.png');
    background-repeat: no-repeat;
}

/* left side styleing */

.description {
    margin: 10px 0 30px;
    color: rgb(153, 148, 148);
    padding-right: 100px;
}

.hire-me {
    text-decoration: none;
    padding: 10px 40px;
    color: #fff;
    background-image: linear-gradient(to right, #FF8E6B, #FF684B);
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    letter-spacing: 1px;
}

/* right side styleing */

.right img {
    width: 90%;
}

.left img {
    width: 90%;
}

/* dream-big */

.dream-big {
    background-image: url('My Pic/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right 70%;
}

/* Experiences */

.experience-container{
    background-image: url('My pic/bg.png');
    background-repeat: no-repeat;
    background-position: left 70%;
    margin-bottom: 50px;
}


.experience h1{
    text-align: center;
position: relative;
margin-bottom: 30px;
}

.experience h1::after{
position: absolute;
width: 15%;
height: 3px;
content: "";
bottom: -20px;
left: 50%;
transform: translateX(-50%);
background-color:orange ;
border-radius: 50px;
}

.experience h2{
font-size: 33px;
margin-bottom: 20px;
}
.experience h3{
margin-bottom: 30px;
}

.experience .items{
    border-radius: 6px;
height: 390px;
padding: 30px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.experience p{
    color: rgb(105, 102, 102);
}

.experience .experi-left{
border-left: 7px solid;
border-image: linear-gradient(to bottom, #FF684B, #FF8E6B) 1;
}
.experience .experi-right{
    border-left: 7px solid;
    border-image: linear-gradient(to bottom, blue, cyan) 1;
}

footer p{
    padding: 20px 0;
    text-align: center;
}